## Gauss Elimination Method

In [1]:
import numpy as np
import sys
import pandas as pd

In [2]:
equations = [
    [1, -2, 1, 0],
    [2, 1, -3, 5],
    [4, -7, 1, -1]
]

In [3]:
df = pd.DataFrame(equations)

In [4]:
df

   0  1  2  3
0  1 -2  1  0
1  2  1 -3  5
2  4 -7  1 -1

In [5]:
coff = df[0][1]/df[0][0]
for i in range(0,4):
    df[i][1] = df[i][1] - coff*df[i][0]

In [6]:
df

   0  1  2  3
0  1 -2  1  0
1  0  5 -5  5
2  4 -7  1 -1

In [7]:
coff

2.0

In [8]:
coff = df[0][2]/df[0][0]
for i in range(4):
  df[i][2] = df[i][2] - coff*df[i][0]
df
coff

4.0

In [14]:
coff=df[1][2]/df[1][1]
for i in range(4):
    df[i][2] = df[i][2] - coff*df[i][1]
df

   0  1  2  3
0  1 -2  1  0
1  0  5 -5  5
2  0  0 -2 -2

In [10]:
#writing equations now
"""
using backward elimination
22.5z = 4.5
0.5y+3.0z=-1.0
2.0x+3.0y-1z=1.0
"""
z = df[3][2]/df[2][2]

In [11]:
z

1.0

In [12]:
y = (df[3][1]-df[2][1]*z)/df[1][1]
y

2.0

In [13]:
x = (df[3][0]-df[2][0]*z-df[1][0]*y)/df[0][0]
x

3.0