## Gauss Elimination Method

In [1]:
import numpy as np
import sys
import pandas as pd

In [2]:
equations = [
    [1, 1, 1, 9],
    [2, -3, 4, 13],
    [3, 4, 5, 40]
]

A = [
    [1, 1, 1],
    [2, -3, 4],
    [3, 4, 5]
]

B = [
    [9],
    [13],
    [40]
]

U=[
    []
]

In [3]:
df = pd.DataFrame(equations,dtype=float)

In [4]:
df

     0    1    2     3
0  1.0  1.0  1.0   9.0
1  2.0 -3.0  4.0  13.0
2  3.0  4.0  5.0  40.0

In [5]:
coff1 = df[0][1]/df[0][0]
coff2 = df[0][2]/df[0][0]
for i in range(0,4):
    df[i][1] = df[i][1] - coff1*df[i][0]
    df[i][2] = df[i][2] - coff2*df[i][0]

In [6]:
df

     0    1    2     3
0  1.0  1.0  1.0   9.0
1  0.0 -5.0  2.0  -5.0
2  0.0  1.0  2.0  13.0

In [7]:
print(coff1)
print(coff2)

2.0
3.0

In [8]:
coff1=df[1][2]/df[1][1]
coff2=df[1][0]/df[1][1]
for i in range(4):
    print(i)
    df[i][2] = df[i][2] - coff1*df[i][1]
    df[i][0] = df[i][0] - coff2*df[i][1]
df

0
1
2
3

     0    1    2     3
0  1.0  0.0  1.4   8.0
1  0.0 -5.0  2.0  -5.0
2  0.0  0.0  2.4  12.0

In [9]:
print(coff1)
print(coff2)

-0.2
-0.2

In [10]:
coff1=df[2][0]/df[2][2]
coff2=df[2][1]/df[2][2]
for i in range(4):
    df[i][0] = df[i][0]-coff1*df[i][2]
    df[i][1] = df[i][1]-coff2*df[i][2]
df

     0    1             2     3
0  1.0  0.0 -2.220446e-16   1.0
1  0.0 -5.0  0.000000e+00 -15.0
2  0.0  0.0  2.400000e+00  12.0

In [11]:
print(coff1)
print(coff2)

0.5833333333333334
0.8333333333333334

In [12]:
#writing equations now
"""
using backward elimination
22.5z = 4.5
0.5y+3.0z=-1.0
2.0x+3.0y-1z=1.0
"""
z = df[3][2]/df[2][2]

In [13]:
z

5.0

In [14]:
y = df[3][1]/df[1][1]
y

3.0

In [15]:
x = df[3][0]/df[0][0]
x

1.0